<html>

<head>
  <meta charset="utf-8" />
  <title>SPA project Inc.</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
</head>

<body>
  <div style="width:100vw;height:100vh;" id="mapid"></div>
</body>

</html>